<h2><%= t ".title", resource: resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { method: :put, class: "well" }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.label :nome %>
  <%= f.text_field :nome %>
  
  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
  <%= f.password_field :password, :autocomplete => "off" %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
  <%= f.password_field :current_password %>

  <div class="controls">
  <%= f.submit t(".update"), class: "btn" %>
  </div>
<% end %>

<h3><%= t(".cancel.title") %></h3>

<p><%= t(".cancel.message") %> <%= link_to t(".cancel.action"), registration_path(resource_name), :data => { :confirm => t(".cancel.confirm") }, :method => :delete %>.</p>

<%= link_to t(".back"), :back %>
