<%= form_for(@compra) do |f| %>

<!-- chamando o helper de erros-->
<%= mensagens_erro(@compra) %>

<div class="control-group">
  <label class="control-label" for="nome">Nome</label>
  <div class="controls">
    <%= f.text_field :nome, :placeholder => "Nome da compra", :class => "input-xxlarge"%>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="descricao">Descrição</label>
  <div class="controls">
    <%= f.text_area :descricao, :placeholder => "Descrição da compra", :class => "input-xxlarge", :rows => "6" %>
  </div>
</div>

<div class="control-group">
  <div class="controls">
    <%= f.submit "Salvar", :class => "btn btn-large btn-success" %>
  </div>
</div>

<% end %>

