<h4>Minhas listas de compras</h4>
<hr>
<% if @compras.size > 0 %>

<table class="table table-bordered table-striped datatable">
  <thead>
    <tr>
      <th>Nome</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @compras.each do |compra| %>
    <tr>
      <td><%= link_to compra.nome, compra_produtos_path(compra) %></td>
      <td style="text-align:center">
        <%= link_to 'Editar', edit_compra_path(compra), :class => "btn btn-link"%>
        <%= link_to 'Excluir', compra, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-link"%>
        <%= link_to "Convidar", compra_convidar_path(compra), method: :post, :class => "btn btn-link"%>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <div class="alert alert-info">
    <strong>Bem Vindo!</strong> Você ainda não possui lista de compras. Crie sua primeira lista <strong><%= link_to 'aqui', new_compra_path %>.</strong>
  </div>
<% end %>

<div class="clear"></div>
<br><br>
<% if @compras.size > 0 %>
<%= link_to 'Nova lista de compra', new_compra_path, :class => "btn btn-success pull-right" %>
<% end %>