<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @compra.nome %>
</p>

<p>
  <b>Descricao:</b>
  <%= @compra.descricao %>
</p>

<%= link_to 'Edit', edit_compra_path(@compra) %> |
<%= link_to 'Back', compras_path %>
