<%= form_for([@compra, @produto]) do |f| %>

<!-- chamando o helper de erros-->
<%= mensagens_erro(@produto) %>

<div class="control-group">
  <label class="control-label" for="nome">Nome</label>
  <div class="controls">
    <%= f.text_field :nome, :placeholder => "Nome do produto", :class => "input-xxlarge"%>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="descricao">Descrição</label>
  <div class="controls">
    <%= f.text_area :descricao, :placeholder => "Descrição", :class => "input-xxlarge", :rows => "6"%>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="quantidade">Quantidade</label>
  <div class="controls">
    <%= f.text_field :quantidade, :placeholder => "Quantidade", :class => "input-large"%>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="quantidade">Valor Unidade</label>
  <div class="controls">
    <%= f.number_field :valor, :placeholder => "Valor", :class => "input-large"%>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="status">Comprado?</label>
  <div class="controls">
    <select name="produto[status]" id="status">
      <option value="">Selecione</option>
      <option value="true">Comprado</option>
      <option value="false">Ainda não</option>
    </select>
  </div>
</div>

<div class="control-group">
  <div class="controls">
   <%= f.submit "Salvar Produto", :class => "btn btn-success"%>
   <%= link_to 'Cancelar', compra_produtos_path, :class => "btn btn-link" %>
 </div>
</div>

<% end %>
