<%= form_for([@compra, @produto]) do |f| %>

<!-- chamando o helper de erros-->
<%= mensagens_erro(@produto) %>

<div class="control-group">
  <label class="control-label" for="nome">Nome</label>
  <div class="controls">
    <%= f.text_field :nome, :placeholder => "Nome do produto", :class => "span5"%>
  </div>
</div>

<div class="control-group clearfix">
    <div class="input_lado">
      <label class="control-label" for="nome">Quantidade</label>
      <%= f.text_field :quantidade, :placeholder => "Quantidade", :class => "span2"%>
    </div>
    <div class="input_lado">
      <label class="control-label" for="nome">Valor Unidade</label>
      <%= f.number_field :valor, :placeholder => "Valor unidade", :class => "span2"%>
    </div>
    <div class="input_lado">
      <label class="control-label" for="status">Comprado?</label>
      <%= f.check_box :status %>
    </div>
</div>

<div class="control-group clearfix">
  <label class="control-label" for="descricao">Descrição</label>
  <div class="controls">
    <%= f.text_area :descricao, :placeholder => "Descrição", :class => "span5", :rows => "3"%>
  </div>
</div>

<div class="control-group">
  <div class="controls">
   <%= f.submit "Salvar Produto", :class => "btn btn-success"%>
   <%= link_to 'Cancelar', compra_produtos_path, :class => "btn btn-link" %>
 </div>
</div>

<% end %>
