<%= form_for([@compra, @produto]) do |f| %>

<!-- chamando o helper de erros-->
<%= mensagens_erro(@produto) %>

<div class="control-group">
  <label class="control-label" for="nome">Nome</label>
  <div class="controls">
    <%= f.text_field :nome, :placeholder => "Nome do produto", :class => "input-xxlarge"%>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="descricao">Descrição</label>
  <div class="controls">
    <%= f.text_area :descricao, :placeholder => "Descrição", :class => "input-xxlarge", :rows => "6"%>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="quantidade">Quantidade</label>
  <div class="controls">
    <%= f.text_field :quantidade, :placeholder => "Quantidade", :class => "input-large"%>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="status">Comprado?</label>
  <div class="controls">
    <%= f.check_box :status %>
  </div>
</div>

<div class="control-group">
  <div class="controls">
   <%= f.submit "Salvar Produto", :class => "btn btn-success"%>
 </div>
</div>

<% end %>
