
  <span>Responsável: <span class="span_red"><%= @compra.users.first.nome %></span></span>
  <span class="badge badge-info pull-right">Total da compra: R$<%= @compra.get_valor_total_compra %></span>
  <a href="" onclick="window.print();" class="icon-print pull-right" style="margin-right:10px;"></a>
  <ul style="margin-top: 5px;" class="produtos_comprados">
    <% @produtos.each do |produto| %>
      <li>
        <span style="<% if produto.status? %>text-decoration:line-through;<% end %>" >
          <%= link_to produto.to_s , edit_compra_produto_path(@compra,produto) %>
        </span>
        <div class="controls pull-right offset1">
          <%= link_to '', edit_compra_produto_path(@compra,produto), :class => "icon-edit"%>
          <%= link_to '', compra_produto_path(@compra, produto), method: :delete, data: { confirm: 'Deseja excluir este produto?' }, :class => "icon-remove"%>
          <% if produto.status? %>
            <%= link_to '', compra_produto_produto_nao_comprado_path(@compra,produto),
                      method: :put, :class => "icon-ok"%>
          <% else %>
            <%= link_to '', compra_produto_produto_comprado_path(@compra,produto),
                method: :put, :class => "icon-shopping-cart"%>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>