<h3>Produtos da compra : <span class="span_red"><%= @compra.nome%></span></h3>
<h5>Responsável: <span class="span_red"><%= @compra.users.first.nome %></span></h5>

<div class="clear"></div>

<table class="table table-bordered table-striped datatable">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Quantidade</th>
      <th>Comprado?</th>
      <th></th>
    </tr>

  </thead>
  
  <tbody>
    <% @produtos.each do |produto| %>
    <tr>
      <td><%= produto.nome %></td>
      <td><%= produto.quantidade %></td>
      <td>
        <% if produto.status %>
        Comprado
        <% else %>
        Não Comprado
        <% end %>
      </td>
      <td>
        <a href="#<%= produto.class %><%= produto.id%>" data-toggle="modal">Detalhes</a>
        <%= link_to 'Editar', edit_compra_produto_path(@compra,produto), :class => "btn btn-link"%>
        <%= link_to 'Excluir', compra_produto_path(@compra, produto), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-link"%>
      </td>
    </tr>

    <!-- chamando o modal -->
    <%= modal_show_compra(produto) %>

    <% end %>
  </tbody>
</table>

<div class="clear"></div>
<br/>

<%= link_to 'Adicionar Produto', new_compra_produto_path(@compra,@produto), :class => "btn btn-sucess pull-right" %>

<div class="clear"></div>

<br/>
<hr>
<table class="table table-bordered table-striped datatable">
  <caption>Participantes da lista de compras</caption>
  <thead>
    <tr>
      <th>Nome do participante</th>
    </tr>
  </thead>
  <tbody>
    <% @compra.users.each do |user| %>
      <tr>
          <td><%= user.nome %></td>
          <!-- <td><a href="" title="" class="btn btn-link">Remover da lista</a></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<div class="clear"></div>

<%= link_to "Convidar para minha lista", compra_convidar_path(@compra), method: :post, :class => "btn btn-success"%>


