<div class="mais clearfix">
	<h4 class="pull-left">Listas de Compras</h4>
	<%= link_to '+', new_compra_path, :class => "btn btn-success btn-mini btn-mais pull-right" %>
</div>
<hr>
<ul class="lista_compras clearfix">
	<% ultimas_compras.each do |compra| %>
	<li>
		<i class="icon-shopping-cart"></i>
		<%= link_to compra.nome , compra_produtos_path(compra) %>
		<span class="badge badge-success badge-compras"><%= compra.get_produtos_comprados(true) %></span>
		<span class="badge badge-important badge-compras"><%= compra.get_produtos_comprados(false) %></span>
	</li>
	<%end%>
</ul>
<h4>Compartilhadas Comigo</h4>
<hr>
<ul class="lista_compras clearfix">
	<% compras_compartilhadas.each do |compra| %>
		<li>
			<i class="icon-shopping-cart"></i>
			<%= link_to compra.nome , compra_produtos_path(compra) %>
			<span class="badge badge-success badge-compras"><%= compra.get_produtos_comprados(true) %></span>
			<span class="badge badge-important badge-compras"><%= compra.get_produtos_comprados(false) %></span>
		</li>
	<%end%>
</ul>
