<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
	<title>Puts</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
</head>
<body>

	 <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
            <![endif]-->

            <!-- NAVBAR -->
            <% if user_signed_in? %>
            <div class="navbar navbar-fixed-top">
             <div class="navbar-inner">
              <div class="container">
               <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
              <%= link_to "put'S", root_path, :class => "brand" %>
              <div class="nav-collapse collapse">
                <ul class="nav">
                  <li><%= link_to "Meu put'S", compras_path %></li>
                  <li><a href="#feedback" data-toggle="modal">Mande seu feedback</a></li>
                </ul>
                <ul class="nav pull-right">
                 <li><a><%= current_user.email%></a></li>
                 <li class="divider-vertical"></li>
                 <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
               </ul>
             </div><!--/.nav-collapse -->
           </div>
         </div>.
       </div>
       <% else %>
       <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <%= link_to "put'S", root_path, :class => "brand" %>
            <div class="nav-collapse collapse">
             <ul class="nav">
               <li><a href="#feedback" data-toggle="modal">Mande seu feedback</a></li>
               <li><a href="#sobre" data-toggle="modal">Sobre</a></li>
             </ul>
             <ul class="nav pull-right">
               <li><a href="#login" data-toggle="modal">Login</a></li>
               <li class="divider-vertical"></li>
               <li><a href="#sign" data-toggle="modal">Sign up</a></li>
             </ul>
           </div><!--/.nav-collapse -->
         </div>
       </div>
     </div>
     <% end %>

     <!-- Modal Login -->
     <%= render 'layouts/modal_login' %>
     <!-- end modal login -->

     <!-- Modal sign up -->
     <%= render 'layouts/modal_sign_up' %>
     <!-- end modal sign up -->

     <!-- Modal Feedback-->
     <%= render 'layouts/modal_feedback' %>
     <!-- end modal feedback -->

     <!-- Modal Sobre-->
     <%= render 'layouts/modal_sobre' %>
     <!-- end modal feedback -->


     <div>
      <div class="topo">
        <div class="container">
          <div class="row">
            <div class="span2" id="header_puts">
              <h1>put'S</h1>
              <a href="#sign" data-toggle="modal" class="btn btn-primary btn-large">Criar uma conta</a>        
            </div>

            <div class="span8 pull-right">
              <ul class="thumbnails" id="header_puts_imgs">
                <li class="span8">
                 
               </li>
             </ul>
           </div>
         </div>
       </div>
     </div>

     <div class="container">
      <div class="row" id="box_puts">
        <div class="span4">
          <img src="<%= image_path ("logo_ror.png") %>" class="img-circle">
          <!-- <h2>Ruby On Rails</h2> -->

          <p><br>"Ruby on Rails é um framework de desenvolvimento web otimizado para a produtividade sustentável e a diversão do programador".<br> <a href="http://rubyonrails.com.br" target="_blanck">rubyonrails.com</a></p>
        </div>
        <div class="span4">
          <img src="<%= image_path ("logo_html5.jpg") %>" class="img-circle" style="margin-bottom:10px;">
          <p><br>HTML5 é a plataforma mais usada da Web. Seja para um desenvolvedor Web para dispositivos móveis, uma empresa com necessidades específicas de negócios ou um desenvolvedor de jogos profissional que deseja explorar a Web como uma nova plataforma, o HTML5 tem de tudo um pouco! </p>

        </div>
        <div class="span4">
          <img src="<%= image_path ("heroku-logo.jpg") %>" class="img-circle">
          <p><br>Heroku é uma plataforma de aplicativos em nuvem - uma nova forma de criação e implantação de aplicações web. O serviço permite que os desenvolvedores de aplicativos gastar 100% do seu tempo em seu código do aplicativo, não o gerenciamento de servidores, implantação de operações em curso, ou de escala.</p>
        </div>
      </div>
    </div>

    <div class="meio">
      <div class="container">
        <div class="row">
          <div class="span4 offset4" id="get_app">
            <a class="btn btn-primary btn-large">Baixe o put'S para Android</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- FOOTER -->
  <footer>
    <div class="container">
      <h3>put'S - Desenvolvido por <a href="http://about.me/jeanmatheus" target="_blanck" >Jean Matheus Souto</a></h3>
    </div>
  </footer>

  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36635985-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>

</body>
</html>
